<header id="mainHeader">
    <h1>File List App</h1>
</header>

<div class="container">

    <div class="jumbotron" ng-show="mainCtrl.table.filteredFiles.length === 0">
        <h1>Loading data...</h1>
    </div>

    <header id="tableHeader" ng-hide="mainCtrl.table.filteredFiles.length === 0">
        <span class="currentPage">
            Page {{mainCtrl.table.currentPage}} out of {{mainCtrl.table.pagesArray.length}}
        </span>

        <!--DropDown for grouping-->
        <div class="dropdown dropdownDiv">
            <strong>Group by: </strong>
            <button class="btn btn-default dropdown-toggle"
                    id="groupDropDown"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
               {{mainCtrl.getGroupByText()}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="groupDropDown">
                <li>
                    <a class="noGrouping"
                       ng-click="mainCtrl.groupByAttribute('')"
                       href="#/">
                        No Grouping
                    </a>
                </li>
                <li><a href="#/" ng-click="mainCtrl.groupByAttribute('filename')">File Name</a></li>
                <li><a href="#/" ng-click="mainCtrl.groupByAttribute('type')">Type</a></li>
                <li><a href="#/" ng-click="mainCtrl.groupByAttribute('date')">Date</a></li>
                <li><a href="#/" ng-click="mainCtrl.groupByAttribute('size')">Size</a></li>
            </ul>
        </div>
    </header>

    <!-- File Table -->
    <table  id="fileTable"
            ng-hide="mainCtrl.table.filteredFiles.length === 0"
            float-thead="mainCtrl.floatTheadOptions"
            class="table table-striped table-bordered">

        <thead class="fixedHeader">
            <tr>
                <th>
                    Select
                </th>

                <th>File Name
                    <a href="#/" ng-click="mainCtrl.sortBy('filename')" ng-show=" mainCtrl.table.groupedBy === null">
                        <span title="Sort" ng-class="{
                                    'glyphicon glyphicon-sort glyphicon-align-left': mainCtrl.table.sortedBy !== 'filename',
                                    'glyphicon glyphicon-sort-by-attributes glyphicon-align-left': mainCtrl.table.sortedBy === 'filename' && mainCtrl.table.sortOrder === 'asc',
                                    'glyphicon glyphicon-sort-by-attributes-alt glyphicon-align-left': mainCtrl.table.sortedBy === 'filename' && mainCtrl.table.sortOrder === 'desc'
                              }"
                              aria-hidden="true">
                        </span>
                    </a>
                </th>

                <th>Type
                    <a href="#/" ng-click="mainCtrl.sortBy('type')" ng-show=" mainCtrl.table.groupedBy === null">
                        <span title="Sort" ng-class="{
                                    'glyphicon glyphicon-sort glyphicon-align-left': mainCtrl.table.sortedBy !== 'type',
                                    'glyphicon glyphicon-sort-by-attributes glyphicon-align-left': mainCtrl.table.sortedBy === 'type' && mainCtrl.table.sortOrder === 'asc',
                                    'glyphicon glyphicon-sort-by-attributes-alt glyphicon-align-left': mainCtrl.table.sortedBy === 'type' && mainCtrl.table.sortOrder === 'desc'
                              }"
                              aria-hidden="true">
                        </span>
                    </a>
                </th>

                <th>Date
                    <a href="#/" ng-click="mainCtrl.sortBy('date')" ng-show=" mainCtrl.table.groupedBy === null">
                        <span title="Sort" ng-class="{
                                    'glyphicon glyphicon-sort glyphicon-align-left': mainCtrl.table.sortedBy !== 'date',
                                    'glyphicon glyphicon-sort-by-attributes glyphicon-align-left': mainCtrl.table.sortedBy === 'date' && mainCtrl.table.sortOrder === 'asc',
                                    'glyphicon glyphicon-sort-by-attributes-alt glyphicon-align-left': mainCtrl.table.sortedBy === 'date' && mainCtrl.table.sortOrder === 'desc'
                              }"
                              aria-hidden="true">
                        </span>
                    </a>
                </th>

                <th>Size
                    <a href="#/" ng-click="mainCtrl.sortBy('size')" ng-show=" mainCtrl.table.groupedBy === null">
                        <span  title="Sort" ng-class="{
                                    'glyphicon glyphicon-sort glyphicon-align-left': mainCtrl.table.sortedBy !== 'size',
                                    'glyphicon glyphicon-sort-by-attributes glyphicon-align-left': mainCtrl.table.sortedBy === 'size' && mainCtrl.table.sortOrder === 'asc',
                                    'glyphicon glyphicon-sort-by-attributes-alt glyphicon-align-left': mainCtrl.table.sortedBy === 'size' && mainCtrl.table.sortOrder === 'desc'
                              }"
                              aria-hidden="true">
                        </span>
                    </a>
                </th>

                <th>
                    Actions
                </th>

            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="file in mainCtrl.table.filteredFiles track by $index"
                ng-class="{'selectedRow' : file.selected}">

                <td ng-show="file.isGroup"
                    class="groupTd"
                    colspan="5">
                    <strong>{{file[mainCtrl.table.groupedBy]}}</strong>
                </td>

                <td ng-show="!file.isGroup">
                    <input type="checkbox"
                           ng-checked="file.selected"
                           ng-click="mainCtrl.toggleFileSelect(file)">
                </td>

                <td ng-show="!file.isGroup">{{file.filename}}</td>
                <td ng-show="!file.isGroup">{{file.type}}</td>
                <td ng-show="!file.isGroup">{{file.date}}</td>
                <td ng-show="!file.isGroup">{{file.size}}</td>

                <td>
                     <a href="#/" title="Edit" class="actionButton glyphicon glyphicon-edit"
                            aria-hidden="true">
                    </a>
                    <a href="#/" title="Delete" class="actionButton glyphicon glyphicon-remove"
                           aria-hidden="true">
                    </a>
                    <a href="#/" title="Display MetaData" class="actionButton glyphicon glyphicon-info-sign"
                       aria-hidden="true">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <!--Table Naviagtion-->
    <nav id="tableNav" ng-hide="mainCtrl.table.filteredFiles.length === 0">

        <p class="currentPage">Page {{mainCtrl.table.currentPage}} out of {{mainCtrl.table.pagesArray.length}}</p>

        <ul class="pagination">
            <li>
                <a href="#/" aria-label="Previous"
                   ng-class="{'disabledLink' : mainCtrl.table.currentPage === 1}"
                   ng-click="mainCtrl.chnageTablePage(mainCtrl.table.currentPage - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>


            <!--Fist Page-->
            <li ng-show="mainCtrl.table.currentPage > 2">
                <a href="#/"
                   ng-click="mainCtrl.chnageTablePage(1)">
                    1
                </a>
            </li>
            <li ng-show="mainCtrl.table.currentPage > 2">
                <a class="disabledItem">
                ...
                </a>
            </li>


            <!--Pages In the Middle-->
            <li ng-repeat="page in mainCtrl.table.visiblePagesArray track by $index">
                <a href="#/"
                   ng-class="{'selectedLink' : mainCtrl.table.currentPage === page}"
                   ng-click="mainCtrl.chnageTablePage(page)">{{page}}</a>
            </li>


            <!--Last Page-->
            <li ng-show="mainCtrl.table.currentPage < mainCtrl.table.pagesArray.length - 4">
                <a class="disabledItem">
                    ...
                </a>
            </li>
            <li ng-show="mainCtrl.table.currentPage < mainCtrl.table.pagesArray.length - 4">
                <a href="#/" ng-click="mainCtrl.chnageTablePage(mainCtrl.table.pagesArray.length)">
                    {{mainCtrl.table.pagesArray.length}}
                </a>
            </li>

            <li>
                <a href="#/"
                   aria-label="Next"
                   ng-class="{'disabledLink' : mainCtrl.table.currentPage === mainCtrl.table.pagesArray.length}"
                   ng-click="mainCtrl.chnageTablePage(mainCtrl.table.currentPage + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

 </div>
