#mainHeader {
  text-align: center;
}

.fixedHeader {
  background: #ffffff;

  a a:active a:hover a:visited a:link {
    color: black;
  }
}

#tableNav {
  text-align: center;

  #jumpToPageForm {
    text-align: center;
  }

  .disabledItem {
    background: #ffffff;
  }

  .pagination {

    .disabledLink {
      color: #AAAAAA;
      cursor: default;
      pointer-events: none;
      text-decoration: none;
    }

   .selectedLink {
      color: #fff;
      cursor: default;
      background-color: #337ab7;
      border-color: #337ab7;
    }
  }
}

.dropdownDiv {
  float: right;
}

.groupTd {
  background: #C2C2C2;
  padding-left: 50px;
}
